<main class="badge-form">
  <%= form_for @badge do |f| %>
    <p><%= f.label :title %>
    <%= f.text_field :title, required:true %></p>

    <p><%= f.label :value %>
    <%= f.number_field :value, required:true %></p>

    <p><%= f.submit "Create Badge" %></p>
  <% end %>
</main>
