<!DOCTYPE html>
<html>
  <head>
    <title>PointMaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>

  <body>
    <nav id="nav-bar">
      <ul>
        <% unless current_user.nil? %>
          <% if current_user.admin? %>
            <li><%= link_to "Home", admin_management_index_path, method: :get %></li>
          <% else %>
            <li><%= link_to "Home", users_path, method: :get %></li>
          <% end %>
        <% end %>
        <% unless current_user.nil? %>
          <li><%= link_to "My Profile", user_path(current_user), method: :get %></li>
        <% end %>
        <li>
          <% if current_user.nil? %>
            <%= link_to "Login", login_path, method: :get %>
          <% end %>
        </li>
        <li>
          <% unless current_user.nil? %>
            <%= link_to "Logout", logout_path, method: :delete %>
          <% end %>
        </li>
        <li>
          <%= link_to "Badge Store", badge_store_path, method: :get %>
        </li>
      </ul>
    </nav>
    <% flash.each do |key, value| %>
     <%= content_tag(:div, class: "alert alert-#{key} alert-dismissable") do %>
      <%= value %>
     <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
