<!DOCTYPE html>
<html>
  <head>
    <title>PointMaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav-bar">
      <% if @admin == true %>
      <p><%= button_to "Home", admins_path, method: :get %></p>
      <% else %>
      <p><%= button_to "Home", users_path, method: :get %></p>
      <% end %>
      <% unless @user.nil? %>
        <% unless @user.id.nil? %>
          <p><%= button_to "My Profile", user_path(@user), method: :get %></p>
        <% end %>
      <% end %>
      <p><%= button_to "Login", login_path, method: :get %></p>
      <p><%= button_to "Logout", logout_path, method: :delete %></p>
    </nav>
    <%= yield %>
  </body>
</html>
