<!DOCTYPE html>
<html>
  <head>
    <title>PointMaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="nav-bar">
      <ul>
        <% if @admin == true %>
        <li><%= link_to "Home", admins_path, method: :get %></li>
        <% else %>
        <li><%= link_to "Home", users_path, method: :get %></li>
        <% end %>
        <% unless @current_user.nil? %>
          <li><%= link_to "My Profile", user_path(@current_user), method: :get %></li>
        <% end %>
        <li><%= link_to "Login", login_path, method: :get %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
